.normal-btn {
  background: none;
  outline: none;
  border: none;
  font-size: 1.7rem;
  cursor: pointer;
  line-height: 1;
  border-radius: 0.25rem;
  color: #f59e0b;
  transition: transform 250ms cubic-bezier(0.19, 1, 0.22, 1);
}
@media screen and (min-width: 768px) {
  .normal-btn {
    font-size: 2rem;
  }
}
.normal-btn:hover {
  transform: scale(115%);
}
.normal-btn:active {
  transform: scale(130%);
}
.filled-btn {
  display: inline-block;
  border-radius: 0.25rem;
  background-color: #4c1d95;
  border: none;
  cursor: pointer;
  color: #ffffff;
  text-align: center;
  padding: 1.15rem;
  font-size: 1rem;
  transition: all 0.5s;
  width: 10rem;
  box-shadow: 0 4px 8px 0 #171717;
}
@media screen and (min-width: 768px) {
  .filled-btn {
    font-size: 1.15rem;
    width: 11rem;
  }
}
.filled-btn span {
  position: relative;
  display: inline-block;
  transition: 0.5s;
}
.filled-btn span::after {
  content: '\00bb';
  position: absolute;
  top: 0;
  right: -1.25rem;
  opacity: 0;
  transition: 0.5s;
}
.filled-btn:hover {
  background-color: #40187c;
}
.filled-btn:hover span {
  padding-right: 1.5em;
}
.filled-btn:hover span::after {
  opacity: 1;
  right: 0;
}
