.courses-container {
  margin: 0 auto;
  max-width: 1280px;
  padding: 2rem;
  /* Courrses action button */
}
.courses-container .heading {
  margin: 0 auto;
  max-width: 765px;
}
@media screen and (min-width: 768px) {
  .courses-container .heading {
    max-width: 939px;
  }
}
.courses-container .course-cards {
  margin-top: 3rem;
}
@media screen and (min-width: 768px) {
  .courses-container .course-cards {
    display: flex;
  }
}
.courses-container .course-cards .card {
  border: 2px solid #f59e0b;
  box-shadow: 2px 4px 8px 2px #4c1d95, 2px 6px 20px 2px #4c1d95;
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}
@media screen and (min-width: 768px) {
  .courses-container .course-cards .card {
    width: 50%;
    margin: 1rem;
  }
}
.courses-container .course-cards .card .card-icons {
  display: flex;
  flex-wrap: wrap;
  padding: 2rem;
  padding-top: 1.75rem;
  padding-right: 1.75rem;
  flex-grow: 1;
}
.courses-container .course-cards .card .card-icons img {
  height: 1.6rem;
  margin-right: 0.5rem;
}
.courses-container .course-cards .card .card-info {
  padding: 2rem;
  padding-top: 1rem;
}
.courses-container .course-cards .card .card-info p,
.courses-container .course-cards .card .card-info h2 {
  line-height: 1;
}
.courses-container .course-cards .card .card-info p {
  font-size: 0.9rem;
}
.courses-container .course-cards .card .card-info h2 {
  font-size: 1.15rem;
  letter-spacing: 0.001rem;
  line-height: 1.2;
  margin-top: 0.65rem;
}
.courses-container .course-cards .card .card-info-list {
  border-top: 1px solid #eee;
  padding: 2rem;
}
.courses-container .course-cards .card .card-info-list ul {
  list-style: none;
}
.courses-container .course-cards .card .card-info-list ul li {
  display: flex;
  align-items: center;
}
.courses-container .course-cards .card .card-info-list ul li .fas {
  flex-shrink: 0;
  color: #f59e0b;
  font-size: 1.1rem;
}
.courses-container .course-cards .card .card-info-list ul li span {
  line-height: 1;
  margin-left: 1rem;
}
.courses-container .course-cards .card .card-info-list ul li + li {
  margin-top: 0.75rem;
}
.courses-container .course-cards .card .card-action {
  display: flex;
  justify-content: flex-end;
  padding: 1rem;
  margin-top: 1em;
}
.courses-container .courses-action {
  display: flex;
  justify-content: flex-end;
}
.courses-container .courses-action .filled-btn {
  width: 13rem;
  height: 3.5rem;
  margin-top: 3rem;
}
